<ul class="navbar-nav navbar-nav-lg nav-tabs">
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Calendar" data-placement="left">
            <i class="tio-calendar-month nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Calendar")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Events" data-placement="left">
            <i class="tio-event nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Events")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Students" data-placement="left">
            <i class="tio-group-junior nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Students")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Parents" data-placement="left">
            <i class="tio-group-equal nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Parents")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Teachers" data-placement="left">
            <i class="tio-group-senior nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Teachers")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Documents" data-placement="left">
            <i class="tio-document-text-outlined nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Accounting")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Users" data-placement="left">
            <i class="tio-user nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Users")</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="js-nav-tooltip-link nav-link" href="/Roles" data-placement="left">
            <i class="tio-account-square nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Roles")</span>
        </a>
    </li>
    <li class="navbar-vertical-aside-has-menu ">
        <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;">
            <i class="tio-dashboard-vs-outlined nav-icon"></i>
            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">@L("Definitions")</span>
        </a>

        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
            <li class="nav-item">
                <a class="nav-link" href="/ParentTypes">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">@L("ParentTypes")</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Jobs">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">@L("Jobs")</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Schools">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">@L("Schools")</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Grades">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">@L("Grades")</span>
                </a>
            </li>
        </ul>
    </li>
</ul>