@using CourseManagementSystem.Web.Models.Teachers
@using CourseManagementSystem.Models.Phones
@model AddTeacherPhoneFieldViewModel

@{
    var selectListCountryPhoneCode = new SelectList(Model.TeacherCountryList, "PhoneCode", "DualCode");
    foreach (var selectOption in selectListCountryPhoneCode) { selectOption.Text = selectOption.Text + " +" + selectOption.Value; }

    var selectListPhoneType = Html.GetEnumSelectList(typeof(PhoneType));
    foreach (var selectOption in selectListPhoneType) { selectOption.Text = L("Enum_PhoneType_" + selectOption.Value); }
}

<div class="phone-container">
    <div class="row form-group">
        <label for="Teacher_PhoneNumber" class="col-sm-3 col-form-label input-label">@L("Phone")</label>

        <div class="col-sm-9">
            <div class="js-form-message input-group input-group-sm-down-break">
                <div class="input-group-prepend">

                    <select class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                            name="phoneCode" asp-items="@selectListCountryPhoneCode"
                            data-hs-select2-options='{
                                   "width": "7rem"
                                }'>
                    </select>
                </div>
                <input type="text" class="js-masked-input form-control" name="phoneNumber" data-phone-Id=""
                       maxlength="@CourseManagementSystem.Models.Phones.PhoneConsts.MaxNumberLength" 
                       minlength="@CourseManagementSystem.Models.Phones.PhoneConsts.MinNumberLength"
                       placeholder="(xxx) xxx xx xx"
                       aria-label="(xxx) xxx xx xx"
                       data-hs-mask-options='{
                                 "template": "(000) 000 00 00"
                                }'>
                <div class="input-group-append">
                    <div class="select2-custom">
                        <select class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                name="phoneType" asp-items="@selectListPhoneType"
                                data-hs-select2-options='{
                                      "minimumResultsForSearch": "Infinity",
                                      "dropdownAutoWidth": true,
                                      "width": "6rem"
                                    }'>
                        </select>
                    </div>
                </div>
                <a class="js-delete-field js-delete-field input-group-add-field-delete delete-phone" style="opacity: 1" href="javascript:;">
                    <i class="tio-clear"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/view-resources/Views/Teachers/_AddPhoneField.js" asp-append-version="true"></script>
