@using CourseManagementSystem.Web.Models.Jobs
@using CourseManagementSystem.Web.Models.Common.Modals
@model CreateOrEditJobModalViewModel


@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditJob")) : L("CreateNewJob")))

<div class="modal-body">
    <form name="JobInformationsForm">
        @if (Model.IsEditMode)
        {
    <input type="hidden" name="id" value="@Model.Job.Id" />}
        <div class="row form-group">
            <label for="Job_Name" class="col-sm-3 col-form-label input-label">@L("Name")</label>

            <div class="col-sm-9">
                <div class="js-form-message input-group input-group-sm-down-break">
                    <input type="text" class="form-control" name="name" id="Job_Name"
                           value="@Model.Job.Name"
                           maxlength="@CourseManagementSystem.Models.Jobs.JobConsts.MaxNameLength" minlength="@CourseManagementSystem.Models.Jobs.JobConsts.MinNameLength"
                           required>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label for="Job_Name" class="col-sm-3 col-form-label input-label">@L("Description")</label>

            <div class="col-sm-9">
                <div class="js-form-message input-group input-group-sm-down-break">
                    <input type="text" class="form-control" name="description" id="Job_Description"
                           value="@Model.Job.Description"
                           maxlength="@CourseManagementSystem.Models.Jobs.JobConsts.MaxDescriptionLength" minlength="@CourseManagementSystem.Models.Jobs.JobConsts.MinDescriptionLength">
                </div>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
    </form>
</div>
<script src="~/view-resources/Views/Jobs/_CreateOrEditModal.js" asp-append-version="true"></script>
