@using Abp.Authorization.Users
@using CourseManagementSystem.Web.Models.Common.Modals
@using CourseManagementSystem.Web.Models.Users
@model EditUserModalViewModel
@{
    Layout = null;
}
<form name="userEditForm" role="form" class="form-horizontal">
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditUser")))
    <input type="hidden" name="id" value="@Model.User.Id" />
    <div class="modal-body">
        <ul class="js-tabs-to-dropdown nav nav-segment nav-fill nav-lg-down-break mb-5" id="CreateOrEditUserModalTab1" role="tablist"
            data-hs-transform-tabs-to-btn-options='{
                  "transformResolution": "lg",
                  "btnClassNames": "btn btn-block btn-white dropdown-toggle justify-content-center mb-3"
                }'>
            <li class="nav-item">
                <a class="nav-link active" id="userDetails-section-tab1" data-toggle="tab" href="#userDetails-section1" role="tab">
                    <i class="tio-user-outlined mr-1"></i> @L("UserDetails")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="userRoles-section-tab1" data-toggle="tab" href="#userRoles-section1" role="tab">
                    <i class="tio-lock-outlined mr-1"></i> @L("UserRoles")
                </a>
            </li>
        </ul>
        <div class="tab-content" id="CreateOrEditUserModalTabContent1">
            <div class="tab-pane fade show active" id="userDetails-section1" role="tabpanel" aria-labelledby="userDetails-section-tab1">
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label input-label">@L("UserName")</label>

                    <div class="col-sm-9">
                        <div class="js-form-message input-group input-group-sm-down-break">
                            <input type="text" class="js-masked-input form-control" value="@Model.User.UserName" name="userName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label input-label">@L("Name")</label>

                    <div class="col-sm-9">
                        <div class="js-form-message input-group input-group-sm-down-break">
                            <input type="text" class="js-masked-input form-control" value="@Model.User.Name" name="name" required maxlength="@AbpUserBase.MaxNameLength" minlength="2">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label input-label">@L("Surname")</label>

                    <div class="col-sm-9">
                        <div class="js-form-message input-group input-group-sm-down-break">
                            <input type="text" class="js-masked-input form-control" value="@Model.User.Surname" name="surname" required maxlength="@AbpUserBase.MaxSurnameLength" minlength="2">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label input-label">@L("EmailAddress")</label>

                    <div class="col-sm-9">
                        <div class="js-form-message input-group input-group-sm-down-break">
                            <input type="email" class="js-masked-input form-control" value="@Model.User.EmailAddress" name="emailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" minlength="2">
                        </div>
                    </div>
                </div>
                <hr>
                <label class="row form-group toggle-switch" for="EditUserIsActive">
                    <span class="col-8 col-sm-9 toggle-switch-content ml-0">
                        <span class="d-block text-dark mb-1">@L("IsActive")</span>
                    </span>
                    <span class="col-4 col-sm-3">
                        <input type="checkbox" name="isActive" class="toggle-switch-input" id="EditUserIsActive" value="@(Model.User.IsActive ? "true" : "false")" @(Model.User.IsActive ? "checked" : "")>

                        <span class="toggle-switch-label ml-auto">
                            <span class="toggle-switch-indicator"></span>
                        </span>
                    </span>
                </label>

                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </div>
            <div class="tab-pane fade" id="userRoles-section1" role="tabpanel" aria-labelledby="userRoles-section-tab1">

                @foreach (var role in Model.Roles)
                {
                    <div class="col-md-6">
                        <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="@($"role{role.Id}")" @(Model.UserIsInRole(role) ? "checked" : "") />
                        <label for="@($"role{role.Id}")" title="@role.DisplayName">@role.Name</label>
                    </div>
                }
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </div>
        </div>
    </div>
</form>

<script src="~/view-resources/Views/Users/_EditModal.js" asp-append-version="true"></script>

