<ul class="navbar-nav flex-grow-1">
    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Calendar">
            <i class="tio-calendar-month nav-icon"></i> @L("Calendar")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Events">
            <i class="tio-event nav-icon"></i> @L("Events")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Students">
            <i class="tio-group-junior nav-icon"></i> @L("Students")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Parents">
            <i class="tio-group-equal nav-icon"></i> @L("Parents")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Teachers">
            <i class="tio-group-senior nav-icon"></i> @L("Teachers")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Documents">
            <i class="tio-document-text-outlined nav-icon"></i> @L("Accounting")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Users">
            <i class="tio-user nav-icon"></i> @L("Users")
        </a>
    </li>

    <li class="navbar-nav-item">
        <a class="navbar-nav-link nav-link" href="/Roles">
            <i class="tio-account-square nav-icon"></i> @L("Roles")
        </a>
    </li>

    <li class="hs-has-sub-menu navbar-nav-item">
        <a id="dashboardsDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkDashboardsDropdown">
            <i class="tio-dashboard-vs-outlined nav-icon"></i> @L("Definitions")
        </a>

        <!-- Dropdown -->
        <ul id="navLinkDashboardsDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg" aria-labelledby="dashboardsDropdown" style="min-width: 16rem;">
            <li>
                <a class="dropdown-item" href="/ParentTypes">
                    <span class="tio-dashboard-vs-outlined nav-indicator-icon"></span> @L("ParentTypes")
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/Jobs">
                    <span class="tio-dashboard-vs-outlined nav-indicator-icon"></span> @L("Jobs")
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/Schools">
                    <span class="tio-dashboard-vs-outlined nav-indicator-icon"></span> @L("Schools")
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/Grades">
                    <span class="tio-dashboard-vs-outlined nav-indicator-icon"></span> @L("Grades")
                </a>
            </li>
        </ul>
        <!-- End Dropdown -->
    </li>
</ul>