@using Abp.Authorization.Users
<div id="PasswordSection" class="card mb-3 mb-lg-5">
    <div class="card-header">
        <h4 class="card-title">@L("Password")</h4>
    </div>

    <!-- Body -->
    <div class="card-body">
        <!-- Form -->
        <form id="ChangePasswordForm">
            <!-- Form Group -->
            <div class="row form-group">
                <label for="CurrentPassword" class="col-sm-3 col-form-label input-label">@L("CurrentPassword")</label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" name="currentPassword" id="CurrentPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>
            <!-- End Form Group -->
            <!-- Form Group -->
            <div class="row form-group">
                <label for="NewPassword" class="col-sm-3 col-form-label input-label">@L("NewPassword")</label>

                <div class="col-sm-9">
                    <input type="password" class="js-pwstrength form-control" name="newPassword" id="NewPassword"
                           required
                           maxlength="@AbpUserBase.MaxPlainPasswordLength"
                           data-hs-pwstrength-options='{
                               "ui": {
                                 "container": "#ChangePasswordForm",
                                 "viewports": {
                                   "progress": "#passwordStrengthProgress",
                                   "verdict": "#passwordStrengthVerdict"
                                 }
                               }
                             }'>

                    <p id="passwordStrengthVerdict" class="form-text mb-2"></p>

                    <div id="passwordStrengthProgress"></div>
                </div>
            </div>
            <!-- End Form Group -->
            <!-- Form Group -->
            <div class="row form-group">
                <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">@L("ConfirmNewPassword")</label>

                <div class="col-sm-9">
                    <div class="mb-3">
                        <input type="password" class="form-control" name="confirmNewPassword" id="ConfirmNewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                    </div>

                    <h5>@L("PasswordRequirements"):</h5>

                    <p class="font-size-sm mb-2">@L("EnsureThatTheseRequirementsAreMet"):</p>

                    <ul class="font-size-sm">
                        <li>@L("MinimumEightCharactersLong")</li>
                        <li>@L("AtLeastOneLowercaseCharacter")</li>
                        <li>@L("AtLeastOneUppercaseCharacter")</li>
                        <li>@L("AtLeastOneNumberCharacter")</li>
                    </ul>
                </div>
            </div>
            <!-- End Form Group -->

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary save-button">@L("Save")</button>
            </div>
        </form>
        <!-- End Form -->
    </div>
    <!-- End Body -->
</div>
